/*
 * Copyright 2021,2022 Maxime Girardet
 *
 * This file is part of Nova.
 *
 * Nova is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * Nova is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with Nova. If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 */

.calendar {
	@apply shadow bg-white rounded-lg border-none !important
}

.calendar-input {
	@apply bg-gray-200 cursor-pointer w-full outline-none border-none p-0 focus:ring-2 text-2xl rounded shadow text-center
}

.basic-calendar-input {
	width: 5.5rem;
	@apply cursor-pointer outline-none p-0 text-center border-t-0 border-l-0 border-r-0 border-gray-400
}

.calendar-wrapper {
	max-width: 8rem;
}

.react-datepicker__triangle {
	@apply hidden
}

.react-datepicker__header {
	@apply bg-white border-b-0 !important
}

.calendar-day {
	@apply hover:rounded-full hover:bg-blue-200 text-gray-700 !important
}

.react-datepicker__day--selected {
	@apply rounded-full bg-blue-500 hover:bg-blue-500 text-white !important
}

.react-datepicker__current-month {
	@apply capitalize text-gray-600 !important
}

.calendar-weekday {
	@apply text-gray-800 font-medium text-xs capitalize !important
}

.react-datepicker__navigation {
	margin-top: .75rem !important;
	@apply outline-none !important
}

.react-datepicker__day--disabled {
	@apply cursor-not-allowed text-gray-400 !important
}

.react-datepicker-popper {
	@apply z-50 text-2xl
}

.react-datepicker__tab-loop {
	@apply absolute top-0 left-0
}